@model Reservation

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-12 text-center">
                <h2 class="text-white py-2">Ažurirajte rezervaciju</h2>
        </div>
    </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="Id" hidden />
            <input asp-for="UserId" hidden />
            <input asp-for="Status" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <select asp-for="TreatmentId" class="form-select" aria-label="Default select example">
                        <option value="" disabled selected>Izaberite vreme</option>
                        @foreach (Treatment treatment in ViewBag.Treatments)
                            {
                                <option value="@treatment.Id">@treatment.Name</option>
                            }
                    </select>
                    <span asp-validation-for="TreatmentId" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="ReservationDate" class="form-control border-0 shadow" />
                    <label asp-for="ReservationDate" class="ms-2"></label>
                    <span asp-validation-for="ReservationDate" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="ReservationTermId" class="form-select" aria-label="Default select example">
                        <option value="" disabled selected>Izaberite vreme</option>
                        @foreach (ReservationTerm term in ViewBag.ReservationTerms)
                            {
                                <option value="@term.Id">@(term.StartHour < 10 ? "0" + term.StartHour : term.StartHour):00</option>
                            }
                    </select>
                    <span asp-validation-for="ReservationTermId" class="text-danger"></span>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Ažurirajte</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Treatment" asp-action="Index" class="btn btn-outline-primary border  form-control">
                            Vratite se na listu
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var reservationDateInput = document.getElementById("reservationDateInput");
        var today = new Date().toISOString().split('T')[0];
        reservationDateInput.min = today;
    });
</script>